.strands,
.loading,
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.strands * {
  text-align: center;
}
h1,
p {
  margin: 0;
}
.titles,
.info {
  font-size: 15px;
  font-weight: 200;
}
.emojis {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 5px;
  text-align: left !important;
}
.next-info {
  text-transform: uppercase;
  font-size: 18px;
}
.timer {
  font-size: 38px;
  margin-top: -25px;
  font-weight: 400;
  font-family: "Oxygen Mono", monospace;
}
a,
button {
  display: block;
  height: 60px;
  width: 240px;
  border-radius: 10px;
  background: var(--guess);
  border: none;
  color: var(--light-text);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 2px;
  transition: scale 0.2s ease-in-out;
}
a,
button:active {
  scale: 0.95;
}
.back-button {
  height: 40px;
  font-size: 16px;
  background: light-dark(var(--light-bg), var(--dark-bg));
  border: 2px solid var(--guess);
  color: var(--guess);
}
.current-button {
  font-size: 16px;
  background: var(--solution);
}
.beforenext-button {
  font-size: 16px;
  background: var(--solution);
  display: flex;
  flex-direction: row;
}
.beforenext-button .direction {
  font-size: 35px;
  margin-right: 20px;
}
.copy-button * {
  transition: all 0.2s ease-in-out;
}
.copy-button .confirmation {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.copy-button.confirm .text {
  opacity: 0;
  visibility: hidden;
}
.copy-button.confirm .confirmation {
  opacity: 1;
  visibility: visible;
}
