@if(ready) {
<div class="strands">
  <div class="header">
    <h1>
      Stränge <span class="date">{{ date }}</span>
    </h1>
    <a class="info-button smaller-text" [routerLink]="['/history']"> 📅 </a>
    <a class="info-button" [routerLink]="['tutorial']"> ? </a>
  </div>
  @if (updateAvailable) {
  <p class="update-box">
    <span class="update-title">Update verfügbar</span>
    <span class="update-info">
      <span>Ein App-Update ist verfügbar, bitte neu laden zum Aktivieren.</span>
      <button class="update-button" (click)="updateService.installUpdate()">
        ↻
      </button>
    </span>
  </p>
  }
  <p class="theme-box">
    <span class="theme-title">Thema des Tages</span>
    <span class="theme-content">{{ theme }}</span>
  </p>
  <p class="current-guess" [style.color]="statusColor">
    &nbsp;{{ statusText }}&nbsp;
  </p>
  <div
    #letterbox
    class="letterbox"
    (touchmove)="onTouchMove($event, letterbox.getBoundingClientRect())"
    (touchend)="onTouchEnd($event)"
    (touchstart)="onTouchStart($event, letterbox.getBoundingClientRect())"
  >
    @for (letter of letters; track $index) {
    <app-letter
      [letter]="letter"
      [row]="letter.location.x"
      [column]="letter.location.y"
      [hintAnimationDelay]="letter.hintFoundDelay"
      [isDisabled]="finished"
      (mouseEvent)="onLetterMouseEvent($event, letter)"
    ></app-letter>
    }
  </div>
  <svg class="connections" (touchstart)="$event.preventDefault()">
    @for (connection of connections; track $index) {
    <line
      [attr.x1]="connection.from.y * 60 + 30"
      [attr.y1]="connection.from.x * 60 + 30"
      [attr.x2]="connection.to.y * 60 + 30"
      [attr.y2]="connection.to.x * 60 + 30"
      [attr.stroke]="
        connection.isGuessActive
          ? 'var(--guess-brighter)'
          : connection.isSuperSolutionActive
          ? 'var(--super-solution-brighter)'
          : 'var(--solution-brighter)'
      "
      stroke-width="10"
    />
    }
  </svg>

  <div class="hint-box">
    @if(!finished) {
    <button
      class="hint level-{{ nonSolutionWordsFound.length - tipsUsed * 3 }}"
      [disabled]="nonSolutionWordsFound.length - tipsUsed * 3 < 3"
      (click)="useHint()"
    >
      Hinweis
      <span class="hint-numbers">
        {{ nonSolutionWordsFound.length - tipsUsed * 3 }} / 3
      </span>
    </button>
    <div class="counter-box">
      <b>{{ finishedCount }}</b> von
      <b>{{ solutions.length }}</b> Themen-<br />Wörtern gefunden
    </div>
    } @else {
    <div class="game-over-box">
      <a
        class="hint"
        [routerLink]="
          this.isHistoryMode ? ['results'] : [this.dateISO, 'results']
        "
      >
        Ergebnisse ansehen
      </a>
    </div>
    }
  </div>
</div>
} @else if (loading) {
<div class="loading">
  <app-spinner></app-spinner>
</div>
} @else {
<div class="error">
  <h1>Ein Fehler ist aufgetreten</h1>
  <p>Bitte versuche es später erneut oder lade neu.</p>
</div>
}
