@if(ready) {
<div class="strands">
  <h1>Stränge, {{ date }}</h1>
  <p class="theme-box">
    <span class="theme-title">Thema des Tages</span>
    <span class="theme-content">{{ subTitle }}</span>
  </p>
  <p class="current-guess" [style.color]="statusColor">
    &nbsp;{{ statusText }}&nbsp;
  </p>
  <div
    #letterbox
    class="letterbox"
    (touchmove)="onTouchMove($event, letterbox.getBoundingClientRect())"
    (touchend)="onTouchEnd($event)"
    (touchstart)="onTouchStart($event, letterbox.getBoundingClientRect())"
  >
    @for (letter of letters; track $index) {
    <app-letter
      [letter]="letter"
      [isDisabled]="finished"
      (mouseEvent)="onLetterMouseEvent($event, letter)"
    ></app-letter>
    }
  </div>
  <svg class="connections" (touchstart)="$event.preventDefault()">
    @for (connection of connections; track $index) {
    <line
      [attr.x1]="connection.from.y * 60 + 30"
      [attr.y1]="connection.from.x * 60 + 30"
      [attr.x2]="connection.to.y * 60 + 30"
      [attr.y2]="connection.to.x * 60 + 30"
      [attr.stroke]="
        connection.isGuessActive
          ? 'var(--guess-light)'
          : connection.isSuperSolutionActive
          ? 'var(--super-solution-light)'
          : 'var(--solution-light)'
      "
      stroke-width="10"
    />
    }
  </svg>

  <div class="hint-box">
    @if(!finished) {
    <button
      class="hint level-{{ nonSolutionWordsFound.length - tipsUsed * 3 }}"
      [disabled]="nonSolutionWordsFound.length - tipsUsed * 3 < 3"
      (click)="useHint()"
    >
      Hinweis
      <span class="hint-numbers">
        {{ nonSolutionWordsFound.length - tipsUsed * 3 }} / 3
      </span>
    </button>
    <div class="counter-box">
      <b>{{ finishedCount }}</b> von
      <b>{{ solutions.length }}</b> Themen-<br />Wörtern gefunden
    </div>
    } @else {
    <div class="game-over-box">
      <p>🎉 Du hast das Spiel für heute abgeschlossen 🎉</p>
      <button class="hint" (click)="copyWinToClipboard()">Teilen</button>
    </div>
    }
  </div>
</div>
} @else if (loading) {
<div class="loading">
  <h1>Stränge werden geladen</h1>
  <p>Bitte warten...</p>
</div>
} @else {
<div class="error">
  <h1>Ein Fehler ist aufgetreten</h1>
  <p>Bitte versuche es später erneut.</p>
</div>
}
