@if((gameState$ | async) && ((loading$ | async) === false) && (gameLoadingError$
| async) === false) {
<div class="strands">
  <div class="mini-header">
    Stränge <span class="date">{{ date }}</span>
  </div>
  <div class="header">
    <h1>
      Stränge <span class="date">{{ date }}</span>
    </h1>
    <a class="info-button smaller-text" [routerLink]="['/history']"> 📅 </a>
    <a class="info-button" [routerLink]="['tutorial']"> ? </a>
  </div>
  @if (updateAvailable) {
  <p class="update-box">
    <span class="update-title">Update verfügbar</span>
    <span class="update-info">
      <span>Ein App-Update ist verfügbar, bitte neu laden zum Aktivieren.</span>
      <button class="update-button" (click)="updateService.installUpdate()">
        ↻
      </button>
    </span>
  </p>
  }
  <p class="theme-box">
    <span class="theme-title">Thema des Tages</span>
    <span class="theme-content">{{ theme$ | async }}</span>
  </p>
  <p class="current-guess" [style.color]="statusColor$ | async">
    &nbsp;{{ statusText$ | async }}&nbsp;
  </p>
  <div
    #letterbox
    class="letterbox"
    (touchmove)="onTouchMove($event, letterbox.getBoundingClientRect())"
    (touchend)="onTouchEnd($event)"
    (touchstart)="onTouchStart($event, letterbox.getBoundingClientRect())"
  >
    @for (letter of letterStates$ | async; track $index) {
    <app-letter
      [letter]="letter"
      [row]="letter.location.row"
      [column]="letter.location.col"
      [hintAnimationDelay]="letter.hintFoundDelay"
      [isDisabled]="(finished$ | async) === true"
      (mouseEvent)="onLetterMouseEvent($event, letter.location)"
    ></app-letter>
    }
  </div>
  <svg class="connections" (touchstart)="$event.preventDefault()">
    @for (connection of connections$ | async; track $index) {
    <line
      [attr.x1]="connection.from.col * 60 + 30"
      [attr.y1]="connection.from.row * 60 + 30"
      [attr.x2]="connection.to.col * 60 + 30"
      [attr.y2]="connection.to.row * 60 + 30"
      [attr.stroke]="
        connection.isGuessActive
          ? 'var(--guess-brighter)'
          : connection.isSuperSolutionActive
          ? 'var(--super-solution-brighter)'
          : 'var(--solution-brighter)'
      "
      stroke-width="10"
    />
    }
  </svg>

  <div class="hint-box">
    @if((finished$ | async) === false) {
    <button
      class="hint level-{{ unusedHintWordCount$ | async }}"
      [disabled]="((unusedHintWordCount$ | async) ?? 0) < 3"
      (click)="useHint()"
    >
      Hinweis
      <span class="hint-numbers"> {{ unusedHintWordCount$ | async }} / 3 </span>
    </button>
    <div class="counter-box">
      <b>{{ finishedSolutionCount$ | async }}</b> von
      <b>{{ solutionCount$ | async }}</b> Themen-<br />Wörtern gefunden
    </div>
    } @else {
    <div class="game-over-box">
      <a
        class="hint"
        [routerLink]="
          this.isHistoryMode ? ['results'] : [this.dateISO, 'results']
        "
      >
        Ergebnisse ansehen
      </a>
    </div>
    }
  </div>
</div>
} @else if (loading$ | async) {
<div class="loading">
  <app-spinner></app-spinner>
</div>
} @else {
<div class="error">
  <h1>Ein Fehler ist aufgetreten</h1>
  <p>Bitte versuche es später erneut oder lade neu.</p>
</div>
}
<div class="screen-too-small">
  Bitte öffne die App auf einem größeren Gerät oder versuche es zu rotieren.
</div>
