.strands,
.loading,
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
h1 {
  margin-bottom: 0;
}
.theme-box {
  width: 320px;
  background: var(--guess-dark);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.theme-box .theme-title {
  font-size: 12px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 2px;
}
.theme-box .theme-content {
  width: calc(100% - 20px);
  text-align: center;
  padding: 8px;
  font-weight: bold;
  background: var(--background-dark);
  border-radius: 0 0 10px 10px;
  margin-bottom: 2px;
}
.current-guess {
  font-size: 28px;
  margin: 0;
  margin-bottom: -16px;
}
.letterbox {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  grid-auto-rows: 60px;
}
.connections {
  display: block;
  margin-top: calc(8 * -60px - 20px);
  width: calc(6 * 60px);
  height: calc(8 * 60px);
  min-height: calc(8 * 60px);
}
.hint {
  display: block;
  height: 60px;
  width: 120px;
  border-radius: 20px;
  background: var(--guess-dark);
  border: 2px solid var(--guess-dark);
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  z-index: 4;
}
.hint:disabled {
  color: var(--guess-light);
}
.hint.level-0 {
  background: var(--background-dark);
}
.hint.level-1 {
  background: linear-gradient(
    to right,
    var(--guess-dark),
    var(--guess-dark) 40px,
    var(--background-dark) 40px
  );
}
.hint.level-2 {
  background: linear-gradient(
    to right,
    var(--guess-dark),
    var(--guess-dark) 80px,
    var(--background-dark) 80px
  );
}
.hint-box {
  height: 60px;
  min-height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 360px;
}
.hint-numbers {
  color: white;
  font-size: 14px;
  margin: 0;
}
.game-over-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.game-over-box a {
  width: 250px;
  text-decoration: none;
}
.counter-box {
  font-size: 18px;
}
