<div class="dates">
  <h1>Vergangene Puzzles</h1>

  <p>
    Wähle ein Datum, um ein vergangenes
    <br />
    Puzzle zu spielen. Verfügbarer Zeitraum:
    <br />
    {{ minDateString }} &ndash; {{ todayDateString }}
  </p>

  <app-calendar></app-calendar>

  <div class="key">
    <div class="key-item">
      <div class="date available"></div>
      Verfügbar
    </div>
    <div class="key-item">
      <div class="date active"></div>
      Bereits begonnen
    </div>
    <div class="key-item">
      <div class="date finished"></div>
      Bereits gelöst
    </div>
  </div>

  <a [routerLink]="['/']"> Puzzle von heute spielen </a>
</div>
