<div class="login">
  <div class="header">
    <h1>Anmelden</h1>
    <a class="info-button close-button" [routerLink]="['/settings']">&#215;</a>
  </div>
  <section class="account">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label for="username">Benutzername</label>
        <input id="username" formControlName="username" type="text" required />
        <p
          class="requirements"
          [class.error]="
            loginForm.get('username')?.invalid &&
            loginForm.get('username')?.touched
          "
        >
          Benutzername ist erforderlich.
        </p>
      </div>
      <div class="form-control">
        <label for="password">Passwort</label>
        <input
          id="password"
          formControlName="password"
          type="password"
          required
        />
        <p
          class="requirements"
          [class.error]="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          Passwort ist erforderlich.
        </p>
      </div>
      @if(errorMessage) {
      <p class="error">{{ errorMessage }}</p>
      }
      <button class="submit-button" type="submit">Anmelden</button>
    </form>
    <p class="register-link">
      Noch kein Konto? <a [routerLink]="['/register']">Registrieren</a>
    </p>
    <p class="forgot-password-link">
      <a [routerLink]="['/forgot-password']">Passwort vergessen?</a>
    </p>
  </section>
</div>
