<div class="app">
  @if(!migrationRunning) {
  <router-outlet></router-outlet>
  } @else {
  <div class="loading">
    <span>Datenmigration läuft, bitte warten...</span>
    <app-spinner></app-spinner>
  </div>
  }
  <div class="info">
    <p class="version-info">
      <span>stränge.de</span>
      <a
        [routerLink]="['news']"
        class="version-info-button"
        [class.new]="(changelogSeenFor$ | async) !== version"
      >
        v {{ version }}
        <span class="info-circle"> i </span>
      </a>
    </p>
    <p>
      <a target="_blank" href="https://r.polarnight.eu/impressum">Impressum</a>
    </p>
    <p>
      <a target="_blank" href="https://r.polarnight.eu/datenschutz">
        Datenschutz
      </a>
    </p>
  </div>
</div>
