.app {
  height: 100dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.info {
  height: 50px;
  font-size: 12px;
  color: light-dark(var(--guess), var(--guess-brighter));
  display: flex;
  gap: 6px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.info a {
  color: light-dark(var(--guess), var(--guess-brighter));
}
