<div
  class="letter"
  [class.disabled]="isDisabled"
  [class.hint]="letter.hintTiming >= 0"
  [class.hint-animated]="letter.hintTiming >= 1"
  style="--animation-delay: {{ letter.hintTiming / 2 }}s"
  [class.guess]="letter.isGuessActive"
  [class.solution]="letter.isSolutionActive"
  [class.super-solution]="letter.isSuperSolutionActive"
>
  <div
    class="letter-content"
    (mousedown)="mouseDown($event)"
    (mouseover)="mouseMove($event)"
    (mouseup)="mouseUp($event)"
    (click)="click($event)"
  >
    <div class="letter-content-text">{{ letter.letter }}</div>
  </div>
  <div
    class="letter-flyout"
    [class.transition-pre]="hintAnimationPreparing"
    [class.transition]="hintAnimationActive"
    style="--move-x: {{ moveX }}px; --move-y: {{ moveY }}px"
  ></div>
</div>
