.letter {
  font-size: 25px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.letter .letter-content {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--background-dark);
  z-index: 2;
}
.letter .letter-flyout {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--guess-dark);
  position: absolute;
  visibility: hidden;
}
.letter .letter-flyout.transition-pre {
  visibility: visible;
  z-index: 3;
}
.letter .letter-flyout.transition {
  transition: transform 0.5s ease-in-out;
  transform: translate(var(--move-x, 0), var(--move-y, 0));
}
.letter:not(.disabled) .letter-content {
  cursor: pointer;
}
@keyframes hintHighlighting {
  0% {
    border-color: var(--solution-light);
  }
  10% {
    border-color: var(--super-solution-light);
  }
  20% {
    border-color: var(--solution-light);
  }
  100% {
    border-color: var(--solution-light);
  }
}
@keyframes solutionHighlighting {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.8;
  }
  100% {
    scale: 1;
  }
}
.letter.hint .letter-content {
  border: 3px dashed var(--solution-light);
}
.letter.hint-animated .letter-content {
  border: 3px dashed var(--solution-light);
  animation: hintHighlighting 6s infinite;
  animation-delay: var(--animation-delay, 0s);
}
.letter.solution .letter-content {
  animation: solutionHighlighting 0.5s ease-in-out;
  background-color: var(--solution-dark);
}
.letter.super-solution .letter-content {
  animation: solutionHighlighting 0.5s ease-in-out;
  background-color: var(--super-solution-dark);
}
.letter.guess .letter-content {
  background-color: var(--guess-dark);
}
