<div class="register">
  <div class="header">
    <h1>Registrieren</h1>
    <a class="info-button close-button" [routerLink]="['/settings']">&#215;</a>
  </div>
  <section class="account">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label for="username">Benutzername</label>
        <input id="username" formControlName="username" type="text" required />
        <p
          class="requirements"
          [class.error]="
            registerForm.get('username')?.invalid &&
            registerForm.get('username')?.touched
          "
        >
          Benutzername muss zwischen 3 und 20 Zeichen lang sein und darf nur
          Buchstaben, Zahlen und Unterstriche enthalten.
        </p>
      </div>
      <div class="form-control">
        <label for="password">Passwort</label>
        <input
          id="password"
          formControlName="password"
          type="password"
          required
        />
        <p
          class="requirements"
          [class.error]="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
        >
          Passwort muss mindestens 12 Zeichen lang sein und Großbuchstaben,
          Kleinbuchstaben und Zahlen enthalten.
        </p>
      </div>
      @if(errorMessage) {
      <p class="error">{{ errorMessage }}</p>
      }
      <button class="submit-button" type="submit">Registrieren</button>
    </form>
    <p class="register-link">
      Du hast bereits ein Konto? <a [routerLink]="['/login']">Anmelden</a>
    </p>
  </section>
</div>
