.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}
h1,
h2 {
  margin: 0;
}
.close-button {
  content: "\00d7";
  font-size: 20px;
}
section {
  width: 80%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
p {
  text-align: center;
}

.login-button,
.register-button {
  display: block;
  height: 30px;
  width: 160px;
  border-radius: 10px;
  background: var(--guess);
  border: none;
  color: var(--light-text);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 2px;
  transition: scale 0.2s ease-in-out;
}
.login-button:active,
.register-button:active {
  scale: 0.95;
}
.register-button {
  background: var(--solution);
}

.user-info .name {
  font-weight: bold;
  color: light-dark(var(--solution), var(--solution-brighter));
}
