<div class="settings">
  <div class="header">
    <h1>Einstellungen</h1>
    <a class="info-button close-button" [routerLink]="['..']">&#215;</a>
  </div>
  <section class="account">
    <h2>Konto</h2>
    @if(authLoading$ | async) {
    <p>Lade Kontoinformationen...</p>
    } @else { @let user = (user$ | async); @if (user) {
    <div class="user-info">
      angemeldet als <span class="name">{{ user.userName }}</span>
    </div>
    <button class="login-button" (click)="logout()">Abmelden</button>
    } @else {
    <div class="name">Nicht angemeldet</div>
    <p>
      Mit einem Konto kannst du deine Spielstände über mehrere Geräte
      synchronisieren. Du kannst dich mit einem bestehenden Konto anmelden oder
      ein neues Konto erstellen.
    </p>
    <a class="login-button" [routerLink]="['/login']">Anmelden</a>
    <a class="register-button" [routerLink]="['/register']">Registrieren</a>
    } }
  </section>
</div>
